@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}
html,body{
    height: 100%;
}
.clear{
    clear: both;
}
.center{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 2%;
}
.header{
    width: 100%;
    padding: 0 2%;
    height: 60px;
    background-color: #212343;
}
.header img{
    margin: 15px;
}
.container-banner{
    width: 100%;
    padding: 0 2%;
    height: 557px;
    background-image: url('../images//header_bg.png');
    background-size: cover;
    background-position: center;
}
.container-banner > .center{
    height: 100%;
    max-width: 1280px;
}
.form{
    width: 400px;
    padding: 15px;
    height: calc(100% + 15px);
    float: right;
    position: relative;
    top: -15px;
    border: 9px solid #CCCCCC;
    background-color: white;
}
.form h2{
    font-weight: normal;
    font-size: 19px;
    color: #999999;
}
.input-container{
    margin-top: 20px;
}
.input-container span, p{
    display: inline-block;
    width: 100%;
    color: #BBBBBB;
    font-size: 17px;
}
.form p{
    margin-top: 20px;
}
.input-container input[type=text]{
    margin-top: 8px;
    width: 344px;
    height: 55px;
    border: 1px solid #ccc;
    border-radius: 2px;
}
.input-submit-container{
    text-align: center;
}
.input-submit-container input[type=submit]{
    color: white;
    font-size: 25px;
    width: 280px;
    height: 56px;
    margin-top: 15px;
    display: inline-block;
    background-color: #363A6D;
    border: 0;
    cursor: pointer;
}
.input-submit-container input[type=text]:hover{
    background-color: #323665;
}
.container-list{
    margin-top: 100px;
    padding: 40px;
    background-color: rgba(33,35,67, 0.7);
    width: 519px;
    height: 270px;
    float: left;
}
.container-list ul{
    list-style-position: inside;
    text-align: left;
}
.container-list ul li{
    color: white;
    margin-top: 18px;
}
.container-2{
    width: 100%;
    padding: 70px 2%;
    background-color: #DDDDDD;
    text-align: center;
}
.container-2 h2{
    font-weight: normal;
}
.container-2 p{
    color: black;
    width: 100%;
    margin: 15px 0;
    display:  inline-block;
    text-align: justify;
}
.arrow{
    position: relative;
    top: 100px;
    left: 50%;
    margin-left: -20px;
    width: 60px;
    height: 60px;
    background-image: url('../images/arrow.png');
    background-size: contain;
}
.section-1{
    padding: 90px 0;
}
.section-1 h2{
    text-align: center;
    font-weight: normal;
    color: #462663;
}
.container-section{
    margin-top: 40px;
    text-align: center;
}
.container-single{
    float: left;
    width: 33.3333%;
    padding: 30px;
}

.container-single:last-child{
    margin-right: 0;
}

.container-single img{
    width: 100px;
    height: 100px;
}
.container-single p{
    display: inline-block;
    text-align: justify;
    padding: 10px 25px;
}
.footer{
    padding: 20px 0;
    border-top: 2px solid #888888;
    text-align: center;
    color: #888;
}
.footer p{
    margin-top: 8px;
}

@media screen and (max-width: 1024px){
    .container-banner{
        width: 100%;
        padding: 0 2%;
        height: auto;
        margin-top: 0;
    }
    .container-list{
        margin-top: 50px;
        padding: 40px;
        width: 40%;
        max-width: 400px;
        height: auto;
        float: left;
        margin-bottom: 30px;
    }
    .form{
        max-width: 400px;
        width: 60%;
        padding: 15px;
        height: 100%;
        float: right;
        margin-top: 10px;
    }
    .input-container input[type=text]{
        width: 100%;
        height: 55px;
    }
    .input-submit-container input[type=submit]{       
        font-size: 25px;
        max-width: 280px;
        width: 100%;
        height: 56px;
    }
}

@media screen and (max-width: 780px){
    .header{
        height: auto;
        width: 100%;
        padding: 15px 0;
        text-align: center;
    }
    .header img{
        margin: 0;
    }
    .container-banner{
        text-align: center;
    }
    .container-list{
        margin-top: 10px;
        float: none;
        display: inline-block;
        width: 100%;
    }
    .form{
        width: 100%;
        float: none;
        display: inline-block;
    }
    .container-single{
        float: none;
        display: inline-block;
        width: 100%;
        padding: 30px;
    }
}